body {
    font-family: Capriola, sans-serif;
}
:root {
    --main-blue-color: #296bcb;
    --main-black-color: #4a4a4a;
    --main-white-color: #ffffff;
}
h1, h2 {
    font-size: 2.5rem;
}
p, a {
    font-size: 1.1rem;
}

/* Navbar CSS */
.navbar-brand .navbar-item span {
    color: var(--main-blue-color);
}
.navbar-brand .navbar-item {
    font-size: 1.8rem;
}
.navbar-brand a:hover {
     color: var(--main-black-color);
 }
.navbar-menu a:hover {
    color: var(--main-blue-color);
    background-color: transparent;
    border-bottom: 2px solid var(--main-blue-color);
}
.navbar-burger {
    background-color: var(--main-white-color);
}

/* Content general CSS */
content {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

/* Home page CSS */
HomePageSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90vh;
}
HomePageSection h1 {
    color: var(--main-black-color);
}
HomePageSection p {
    color: var(--main-blue-color);
}
HomePageSection img {
    margin-top: 60%;
    margin-left: 15%;
    width: 35rem;
}
homepageSection .textHolder {
    text-align: center;
}

/* About me page CSS */
aboutMeSection {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
aboutMeSection .section {
    margin-top: -3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    text-align: center;
}
aboutMeSection p {
    margin-top: 1%;
}

/* skills page CSS */
skillsSection {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
skillsSection .columns {
     justify-content: space-around
}
skillsSection .section {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
}
skillsSection .card {
    margin: 0 1%;
}
skillsSection .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
skillsSection h4 {
    color: var(--main-blue-color) !important;
}

/* portfolio page CSS */
portfolioSection {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    margin-top: 1%;
}
portfolioSection .section {
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
    text-align: center;
}
portfolioSection p {
    margin: 3% 0;
}
portfolioSection .section {
    display: flex;
    flex-direction: column;
    padding: 1%;
}
portfolioSection .card {
    margin: 1%;
    width: 40vw;
}
portfolioSection .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
portfolioSection .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
portfolioSection .columns {
    justify-content: center;
    margin: 0 10%;
}
portfolioSection .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
portfolioSection .card-content {
    display: flex;
    flex-direction: row;
}

/* Contact page CSS */
contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}
contactSection input, textarea {
    width: 50vw !important;
}
contactSection button {
    background-color: var(--main-blue-color) !important;
}

@media only screen and (max-width: 1920px) {
    h1, h2 {
        font-size: 3rem;
    }
    p, a {
        font-size: 1.5rem;
    }
    homepageSection .textHolder {
        margin-bottom: -40%;
    }
    skillsSection {
        height: 75vh;
    }
}

@media only screen and (max-width: 1600px) {
    h1, h2 {
        font-size: 2.7rem;
    }
    p, a {
        font-size: 1.3rem;
    }
    skillsSection, portfoliosection, contactsection {
        height: 90vh;
    }
    aboutmesection {
        height: 60vh;
    }
    homepageSection .textHolder {
        margin-bottom: -50%;
    }
}

@media only screen and (max-width: 1536px) {
    homepageSection .textHolder {
        margin-bottom: -55%;
    }
}

@media only screen and (max-width: 1440px) {
    h1, h2 {
        font-size: 2.5rem;
    }
    p, a {
        font-size: 1.1rem;
    }
    aboutmesection {
        height: 53vh;
    }
    skillsSection, portfoliosection, contactsection {
        height: 75vh;
    }
}

@media only screen and (max-width: 1366px) {
    homepageSection .textHolder {
        margin-bottom: -61%;
    }
    h1, h2 {
        font-size: 2.2rem;
    }
    p, a {
        font-size: 1rem;
    }
    skillsSection, portfoliosection, contactsection {
        height: 85vh;
    }
}

@media only screen and (max-width: 1280px) {
    homepageSection .textHolder {
        margin-bottom: -40%;
    }
    p, a {
        font-size: 1.3rem;
    }
    aboutmesection {
        height: 50vh;
    }
    skillsSection {
        height: 80vh;
    }
    portfoliosection, contactsection {
        height: 70vh;
    }
}

@media only screen and (max-width: 768px) {
    homepagesection {
        height: 90vh;
    }
    homepagesection img {
        margin-left: 10%;
    }
    homepagesection .textHolder {
        display: flex;
        flex-direction: column;
        margin: -200px 0;
        flex-wrap: nowrap;
    }
    aboutmeSection {
        height: 60vh;
    }
    skillsSection {
        height: 170vh;
        flex-direction: row;
        align-items: center;
    }
    skillsSection .card {
        margin: 5% 1%;
    }
    portfolioSection {
        height: 100vh;
    }
    portfolioSection .card-content {
        margin-bottom: 10%;
    }
    portfolioSection .columns {
         margin: 0;
    }
    .columns:not(:last-child) {
         margin-bottom: 0;
    }
    portfolioSection .card {
        width: 60vw;
    }
    portfolioSection p {
        margin-bottom: 10%;
    }
    contactsection {
        height: 70vh;
    }
}

@media only screen and (max-width: 414px) {
    h1, h2 {
        font-size: 1.6rem;
    }
    p, a {
        font-size: 0.8rem;
    }
    homepagesection .textHolder {
        margin: -100px 0;
    }
    homepagesection {
        text-align: center;
    }
    HomePageSection img {
        margin-top: 60%;
        margin-left: -8%;
        width: 23rem;
    }
    portfolioSection {
        height: 95vh;
    }
    contactsection {
        height: 75vh;
    }
    portfolioSection .card {
        width: 80vw;
    }
}

@media only screen and (max-width: 375px) {
    h1, h2 {
        font-size: 1.5rem;
    }
    p, a {
        font-size: 0.7rem;
    }
    homepagesection {
        height: 86vh;
    }
    homepagesection .textHolder {
        margin: -130px 0;
    }
    aboutmeSection {
        height: 70vh;
    }
    skillsSection {
        height: 220vh;
    }
    skillsSection .card {
        margin: 10% 1%;
    }
    portfolioSection {
        height: 120vh;
    }
    contactsection {
        height: 95vh;
    }
}

@media only screen and (max-width: 360px) {
    skillsSection {
        height: 230vh;
    }
    portfolioSection {
        height: 130vh;
    }
}